@inject IAntiforgery AF
@model ArticleDetailsModel
@{
    ViewData["Title"] = Model.Title;

    var userName = (string)ViewData[ViewDataUsernameKey];
    var isAuthenticated = this.User.Identity.IsAuthenticated;
    var isAdmin = User.IsInRole(AdminRole);
}

<h3 class="text-center text-info">@ViewData["Title"]</h3>
<hr />

<div class="row">
    <img src="@Model.PictureUrl" class="img-responsive" />
</div>

<div class="form-group row">
    <h4>
        published by <em class="text-info">@Model.Author</em>
        on <em class="text-info">@Model.PublishDate.ToShortDateString()</em>

        @if (userName == Model.Author)
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-warning">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-danger">Delete</a>
        }
    </h4>
</div>

<div class="row">
    @Html.Raw(Model.Content)
</div>

@if (isAuthenticated)
{
    <div class="form-group row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><em class="text-info">Leave a Comment:</em></div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <textarea id="CommentContent" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button type="submit" id="submitComment" class="btn btn-default"><em class="text-info">Submit</em></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="form-group row" id="allComments">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="text-info">Comments:</span></div>
            <div class="panel-body">
                <div class="form-group" id="commentsContainer">
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script>

        $(document).ready(function () {
            loadComments();
        });

        //load comments
        function loadComments() {
            $.ajax({
            url: "/api/ArticleComments/all/" + @(Model.Id),
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var commentElement = createCommentElement(data[i]);
                        $("#commentsContainer").append(commentElement);
                    }
                }
            });
        }

        //post comment
        $("#submitComment").click( function () {
            var content = $("#CommentContent").val();
            var data = { articleId: @(Model.Id), content: content };
            $.ajax({
                url: "/api/ArticleComments/submit",
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                headers: { 'X-CSRF-TOKEN': "@(AF.GetTokens(this.Context).RequestToken)" },
                success: function (commentResult) {
                    var commentElement = createCommentElement(commentResult);
                    $("#commentsContainer").append(commentElement);
                }
            });
        });

        
        //delete comment
        function deleteComment(id) {
            $.ajax({
                url: "/api/ArticleComments/delete/" + id,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    $('#commentDiv' + id).remove();
                }
            });
        }

        //creates div with comment
        function createCommentElement(comment) {
            var firstPart = '<div id="commentDiv' + comment.id + '">' +
                                        '<div class="panel panel-default">' +
                                            '<div class="panel-heading">' +
                                                '<em><em class="text-info">' +
                                                        comment.publisher +
                                                ' </em>' +'on ' +
                                                '<em class="text-info">' + new Date(comment.postedOn).toJSON().slice(2, 19).replace('T', ' '); +
                                                '</em>';

                    var secondPart = '';
                    @if (isAdmin)
                    {
                        @:secondPart = '<button id="delBtn" class="btn btn-sm btn-danger" onclick="deleteComment(' +
                        @:comment.id + ')"><i class="glyphicon glyphicon-remove"></i></button>';
                    }

                    var thirdPart =  '</div>' +
                                        '<div class="panel-body">' +
                                            '<div class="form-group">' +
                                                '<h4>' + comment.content + '</h4>' +
                                            '</div>' +
                                        '</div>' +
                                    '</div>' +
                '</div>';

            return firstPart + secondPart + thirdPart;
        }

    </script>
}