@model UrbanSolution.Web.Areas.Blog.Models.ArticleListingViewModel
@{
    ViewData["Title"] = "Blog Articles";

    var pagesModel = new PagesModel
    {
        CurrentPage = Model.CurrentPage,
        NextPage = Model.NextPage,
        TotalPages = Model.TotalPages,
        PreviousPage = Model.PreviousPage
    };
}

<h3 class="text-center text-info">@ViewData["Title"]</h3>
<hr />

<div class="row">
    @foreach (var article in Model.Articles)
    {
        <div class="col-md-5 col-md-offset-1 list-group-item">
            <a asp-action="Details" asp-route-id="@(article.Id)"
               asp-route-title="@(article.Title.ToFriendlyUrl())">
                <h4 class="text-center text-info">@article.Title</h4>
            </a>
            <img src="@(article.PictureUrl)"/>
            <h5>
                published by <em class="text-info">@(article.Author)</em>
                on <em class="text-info">@(article.PublishDate)</em>
                <a asp-action="Details" asp-route-id="@article.Id" class="btn-sm btn-primary pull-right">
                    Read More <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </h5>
        </div>
    }
</div>

@if (Model.TotalArticles > Model.Articles.Count())
{
    <partial name="_PagingPartial" model="pagesModel"/>
}





