@model ResolvedDetailsServiceModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="slick-fade row  picture-listing" id="wrapper">
    <div><img src="@Model.ResolvedPictureUrl" class="pic-responsive"></div>
    <div><img src="@Model.IssuePictureUrl" class="pic-responsive"></div>
</div>
<div class="row center-block"><a class="btn left">Now</a> <a class="right btn">Than</a></div>

<h4>@Model.Description</h4>

@*(string)this.ViewData[WebConstants.ViewDataManagerId] == Model.PublisherId*@
@if (true)
{
    <div>
        <a class="btn btn-warning" asp-area="Manager" asp-controller="Resolved" asp-action="Edit"
           asp-route-id="@Model.Id">Edit</a>

        <a class="btn btn-danger" asp-area="Manager" asp-controller="Resolved" asp-action="Delete"
           asp-route-id="@Model.Id">Delete</a>
    </div>
}

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('.slick-fade').slick({
                dots: false,
                arrows: false,
                infinite: false,
                autoplay: true,
                speed: 500,
                fade: true,
                cssEase: 'linear',
                centerMode: true
            });

            $('.left').click(function () {
                $('.slick-fade').slick('slickPrev');
            });

            $('.right').click(function () {
                $('.slick-fade').slick('slickNext');
            });
        });
    </script>

}

