@model UrbanIssueDetailsServiceModel
@{
    ViewData["Title"] = $@"Details for issue ""{Model.Title}""";
}

<div row class="text-info">
    <h3 class="text-center">@this.ViewData["Title"]</h3>
    <br />
</div>

<div class="row">

    <div class="form-group col-md-5">
        <div class="row">
            <h4>
                Published by <em class="text-info">@Model.Publisher</em> on
                <em class="text-info">@Model.PublishedOn.ToShortDateString()</em>
            </h4>
            <h4>Address: <em class="text-info">@Model.AddressStreet</em></h4>
            <div>
                <h4>
                    Type: <em class="text-info">@Model.Type.ToFriendlyName()</em>,
                    Region: <em class="text-info">@Model.Region</em>
                </h4>
            </div>

            @* Buttons for approve/delete/edit... *@
            @await Component.InvokeAsync("IssueDetailsButtons")

            <h3><em>@Model.Description</em></h3>
        </div>
    </div>

    <div class="form-group col-md-5 col-md-offset-1">
        @* Showing the map for the issue with marker for location *@
        @await Component.InvokeAsync("IssueDetailsMap", Model)
    </div>

</div>


