@using UrbanSolution.Web.Infrastructure.Extensions
@model UrbanSolution.Web.Areas.Events.Models.EventsListingViewModel
@{
    ViewData["Title"] = "All Events";
    var pagesModel = new PagesModel
    {
        CurrentPage = Model.CurrentPage,
        NextPage = Model.NextPage,
        TotalPages = Model.TotalPages,
        PreviousPage = Model.PreviousPage
    };
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <ul class="list-group article-list">
            @foreach (var e in Model.Events)    //TODO: display template
            {
                <li class="list-group-item">
                    <a asp-action="Details" asp-route-id="@e.Id" asp-route-title="@e.Title.ToFriendlyUrl()">@e.Title</a>
                    <br />
                    <small>starting: @e.Starts.ToLongDateString()</small>
                </li>
            }
        </ul>
    </div>
</div>

@*pagging*@
@if (Model.TotalPages > Model.Events.Count())
{
    @await Html.PartialAsync("~/Views/Shared/_PagingPartial.cshtml", pagesModel)
}