@model UrbanSolution.Web.Areas.Events.Models.EventsListingViewModel
@{
    ViewData["Title"] = "All Events";
}

<h3 class="text-center text-info">@ViewData["Title"]</h3>
<hr />

<div class="row">
    @foreach (var e in Model.Events)
    {
        <div class="col-md-5 col-md-offset-1 list-group-item">
            <a asp-action="Details" asp-route-id="@(e.Id)"
               asp-route-title="@(e.Title.ToFriendlyUrl())">
                @e.Title
            </a>
            <br />
            <small>starting: @e.Starts.ToLongDateString()</small>
        </div>
    }
</div>

@*paging*@

<partial name="_PagingPartial" model="Model.PagesModel" />
