@model UrbanSolution.Web.Areas.Admin.Models.AdminUsersListingViewModel


@foreach (var user in Model.Users)
{
    var userAddToRoles = Model.AllRoles.Where(r => !user.UserRoles.Contains(r.Text));
    var userRemoveFromRoles = Model.AllRoles.Where(r => user.UserRoles.Contains(r.Text));

    <tr>
        <td class="text-center">@user.UserName</td>
        <td class="text-center">@user.Email</td>
        <td class="text-center">@user.LockoutEnd</td>
        <td>
            @if (user.LockoutEnd != null)
            {
                <form asp-controller="Users" asp-action="Unlock" method="post">
                    <input type="hidden" name="UserId" value="@user.Id" />
                    <div class="col-md-2">
                        <input class="btn btn-sm btn-success" type="submit" value="Unlock" />
                    </div>
                </form>
            }
            else
            {
                <form asp-controller="Users" asp-action="Lock" method="post">
                    <input type="hidden" name="UserId" value="@user.Id" />
                    <div class="row">
                        <div class="col-xs-7">
                            <select name="LockDays" asp-items="Model.LockDays" class="form-control"></select>
                        </div>
                        <div class="col-xs-1">
                            <input class="btn btn-sm btn-danger" type="submit" value="Lock" />
                        </div>
                    </div>
                </form>
            }

        </td>
        @*AddToRole*@
        <td>
            @if (userAddToRoles.Any())
            {
                <form asp-controller="Users" asp-action="AddToRole" method="post">
                    <div class="col-md-8">
                        <input type="hidden" name="UserId" value="@user.Id" />
                        <select name="Role" asp-items="userAddToRoles" class="form-control"></select>
                    </div>
                    <div class="col-md-2">
                        <input class="btn btn-sm btn-success" type="submit" value="Add" />
                    </div>
                </form>
            }
        </td>
        @*RemoveFromRole*@
        <td>
            @if (userRemoveFromRoles.Any())
            {
                <form asp-controller="Users" asp-action="RemoveFromRole" method="post">
                    <div class="col-md-8">
                        <input type="hidden" name="UserId" value="@user.Id" />
                        <select name="Role" asp-items="userRemoveFromRoles" class="form-control"></select>
                    </div>
                    <div class="col-md-2">
                        <input class="btn btn-sm btn-danger" type="submit" value="Remove" />
                    </div>
                </form>
            }
        </td>
    </tr>
}