@model UrbanSolution.Web.Areas.Admin.Models.AdminUsersListingTableModel

@foreach (var user in Model.Users)
{
    IEnumerable<SelectListItem> userAddToRoles = user.UserNotInRoles?
        .Split(new[] { ',' }).Select(r => new SelectListItem(r, r));
    IEnumerable<SelectListItem> userRemoveFromRoles = user.UserRoles?
        .Split(new[] { ',' }).Select(r => new SelectListItem(r, r));

    <tr id="tr@(user.Id)">
        <td class="text-center">@user.UserName</td>
        <td class="text-center">@user.Email</td>
        <td class="text-center">
            @(user.LockoutEnd == null ? "Not Locked" : user.LockoutEnd.Value.ToString())
        </td>
        <td>
            @if (user.LockoutEnd != null)
            {
                //Unlock user unlockUser
                <div class="form-inline text-center">
                    <button onclick="unlockUser('@user.Id')" type="button" class="btn btn-sm btn-success">Unlock</button>
                </div>
            }
            else
            {
                //Lock  User
                <div class="form-inline text-center">
                    <select id="lockDays@(user.Id)" name="LockDays" asp-items="Model.LockDays" class="form-control"></select>
                    <button onclick="lockUser('@user.Id')" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-lock"></i></button>
                </div>
            }

        </td>
        @*AddToRole*@
        <td>
            @if (userAddToRoles != null && userAddToRoles.Any())
            {
                <div class="form-inline text-center">
                    <select id="addToRole@(user.Id)" asp-items="userAddToRoles" class="form-control"></select>
                    <button onclick="addToRole('@user.Id')" class="btn btn-sm btn-success" type="button">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                </div>
            }
        </td>
        @*RemoveFromRole*@
        <td>
            @if (userRemoveFromRoles != null && userRemoveFromRoles.Any())
            {
                <div class="col-md-8">
                    <select id="role@(user.Id)" name="Role" asp-items="userRemoveFromRoles" class="form-control"></select>
                </div>
                <div class="col-md-2">
                    <button onclick="removeFromRole('@user.Id')" class="btn btn-sm btn-danger" type="button">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            }
        </td>
    </tr>
}