@model PagesModel

<ul class="pagination">
    <li class="@(Model.CurrentPage == 1 ? "hide" : string.Empty)">

        <a asp-route-page="@Model.PreviousPage" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>

    </li>
    @for (int i = 5; i >= 1; i--)
    {
        if (Model.CurrentPage - i > 0)
        {
            <li class="inactive">
                <a asp-route-page="@(Model.CurrentPage - i)">@(Model.CurrentPage - i)<span class="sr-only"></span></a>
            </li>
        }
    }
    <li class="active">
        <a asp-route-page="@Model.CurrentPage">@Model.CurrentPage<span class="sr-only">(current)</span></a>
    </li>
    @for (int i = 1; i < 5; i++)
    {
        if (Model.CurrentPage + i <= Model.TotalPages)
        {
            <li class="inactive">
                <a asp-route-page="@(Model.CurrentPage + i)">@(Model.CurrentPage + i)<span class="sr-only"></span></a>
            </li>
        }
    }
    <li class="@(Model.CurrentPage == Model.TotalPages ? "hide" : string.Empty)">

        <a asp-route-page="@Model.NextPage" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>