@using UrbanSolutionUtilities.Extensions
@model UrbanIssuesListingServiceModel

<div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title text-center">
                <a asp-area=""
                   asp-controller="Issue"
                   asp-action="Details"
                   asp-route-id="@(Model.Id)">
                    @(Model.Title.Shortify(ShortifyStringTo))
                </a>
            </h4>
        </div>
        <div class="panel-body">
            <img src="@Model.IssuePictureThumbnailUrl" class="img-responsive">
            @*<br />*@
            <div class="text-center"><em class="text-info">@Model.PublishedOn.ToString("d.MM.yy")</em></div> <em class="text-info">@Model.Region</em>  @*by <em class="text-info">@Model.Publisher</em>*@
        </div>
    </div>
</div>