@model AdminUsersListingViewModel
@{
    ViewData[TitleKey] = "Users Administration";
}

<div class="row text-info text-center">
    <h3><strong>@this.ViewData[TitleKey]</strong></h3>
</div>

<div class="form-group row text-center">

    <form asp-controller="Users" asp-action="Index" method="get">
        <div class="row">
            
            @*Sorting*@
            <div class="col-lg-4">
                <div class="form-inline">
                    Sort by:
                    <select name="SortBy" class="form-control">
                        @foreach (var kvp in Model.SortByOptions)
                        {
                            if (kvp.Value == Model.PagesModel.SortBy)
                            {
                                <option value="@kvp.Value" selected>@kvp.Key</option>
                            }
                            else
                            {
                                <option value="@kvp.Value">@kvp.Key</option>
                            }
                        }
                    </select> 

                    <select name="SortType" class="form-control">
                        @foreach (string sortType in Model.SortingType)
                        {
                            if (sortType == Model.PagesModel.SortType)
                            {
                                <option value="@sortType" selected>@sortType</option>
                            }
                            else
                            {
                                <option value="@sortType">@sortType</option>
                            }
                        }
                    </select>
                    <input type="submit" value="Sort" class="btn btn-default" />
                </div>
            </div>
            
            @* Searching *@
            <div class="col-lg-4">
                <div class="form-inline">
                    <select name="SearchType" class="form-control">
                        @foreach (var kvp in Model.SearchFiltersOptions)
                        {
                            if (kvp.Key == Model.PagesModel.SearchType)
                            {
                                <option value="@kvp.Value" selected>@kvp.Key</option>
                            }
                            else
                            {
                                <option value="@kvp.Value">@kvp.Key</option>
                            }
                        }
                    </select> 
                    <input type="text" name="SearchText" value="@Model.PagesModel.SearchText" class="form-control" placeholder="Search..." />
                    <button type="submit" value="Search" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            
            @*Filter*@
            <div class="col-lg-4">
                <div class="form-inline">
                    <select id="Filter" name="Filter" class="form-control">
                        @if (Model.PagesModel.Filter == null)
                        {
                            <option selected>@NoFilter</option>
                        }
                        else
                        {
                            <option>@NoFilter</option>
                        }

                        @foreach (var kvp in Model.FilterByOptions)
                        {
                            if (kvp.Value == Model.PagesModel.Filter)
                            {
                                <option value="@kvp.Value" selected>@kvp.Value</option>
                            }
                            else
                            {
                                <option value="@kvp.Value">@kvp.Value</option>
                            }
                        }
                    </select>
                    <input type="submit" value="Filter" class="btn btn-default" />
                </div>
            </div>

        </div>
    </form>

</div>

@* table *@
<table class="table table-bordered table-striped table table-hover">
    <thead>
        <tr>
            <th class="text-center text-info"><strong>Username</strong></th>
            <th class="text-center text-info"><strong>Email</strong></th>
            <th class="text-center text-info"><strong>Lockout End</strong></th>
            <th class="text-center text-info"><strong>Lock(days)/Unlock</strong></th>
            <th class="text-center text-info"><strong>Set Role</strong></th>
            <th class="text-center text-info"><strong>Remove Role</strong></th>
        </tr>
    </thead>
    <tbody>
        <partial name="_AdminUsersListingPartial" model="Model.TableDataModel" />
    </tbody>   
</table>

<partial name="_PagingPartial" model="@Model.PagesModel" />
